/*new*/
summary{
  cursor:pointer;
}
summary:hover{
  text-decoration:underline;
}
details.table > div {
  padding-left:20px;
  padding-bottom:10px;
}
details.table > summary{
  font-size:larger;
  font-weight:bold;
}
details.problem > table{
  margin-bottom:10px;
}
details.problem{
  margin-bottom:1px;
}
/*old*/
hr{
  border:none;
  border-bottom:1px solid #ccc;
}
ul{
  padding-inline-start:20px;
}
table{
  border-collapse:collapse;
}
th{
  background:#eee;
}
.flex{
  display:flex;
  flex-wrap:wrap;
}
span.n_pro{
  background:red;
  text-align:center;
  font-weight:normal;
  width:50px;
  display:inline-block;
  border-radius:3px;
  color:white;
}
span.n_pro.zero{
  background:#af0;
  color:black;
}
td.sql {
  background:azure;
  font-family:monospace;
  font-size:smaller;
}
td.blank {
  background:#af0;
  font-family:monospace;
  color:#666;
}
td.blank:before {
  content:'~no problems found';
}

div.problem_link:hover{
  cursor:pointer;
  text-decoration:underline;
}

/* quickly fold / unfold sections */
#T_Agglomerations       > ul{display:;}
#T_UWWTPS               > ul{display:;}
#T_DischargePoints      > ul{display:;}
#T_UWWTPS_emission_load > ul{display:;}
#T_UWWTPAgglos          > ul{display:;}
